body,html{
    margin:0;
    height: 100%;
}

#calculette{
    height: inherit;
    display: grid;
    
    grid-template-columns: repeat(4,1fr);/**/
    grid-template-rows: 1.5fr; 
    grid-auto-rows: 1fr; /*Permet de mettre a defaut en 1fr pour le reste des lignes*/
    grid-template-areas:"ecran ecran ecran ecran"                        
                        "addi divi multi del"
                        "subs nine eight seven"
                        "ce six five four"
                        "ce three two one"
                        "ce ans dote zeros"
                        "par1 par2 eq eq";
}

/*Button*/
#screen{
    grid-area: ecran;
    font-family: verdana;
    color: white;
    font-weight: bolder;
   font-size:7vw;
   display: flex;
   flex-direction: column;
    background-color: gray !important;
}

#del{
    grid-area: del;
}
#eq{
    grid-area: eq ;
    font-size: 8vw !important;
}
#ce{
    grid-area: ce ;
}
#dot{
    grid-area: dote;
}
#ans{
    grid-area: ans;
}

/*Background Button*/
#eq{
    background-color: rgba(243, 7, 7, 0.575) !important;
}
#del,#ce{
    background-color: rgba(219, 119, 73, 0.726) !important;
}

#calculette >[id^="b"]{
    background-color: rgb(42, 190, 190);
}
#calculette >:not([id^="b"]){
    background-color: rgba(77, 47, 22, 0.767);
}
/*Rebord*/

#calculette>div{
    border: 1px solid black ;
   
}

#calculette>div:not(:first-child){
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: whitesmoke;
   font-size: larger;
  }

/*Hover*/
#calculette>div:not(:first-child):hover{
    background-color: red !important;
  }

  
/*Align items*/
#calculette > div[id] {
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*screen*/
#screen>.scr{
    font-family:'Courier New', Courier, monospace
}

#s2.scr{
    color: rgba(240, 248, 255, 0.562);
}

mark{
    color: rgb(92, 30, 30);
    background-color: unset;
}